# Dependencies directory
node_modules/*

# Complie directory
dist/*

# Test directory
coverage/*

# Development directory
.development/*

# Log directory and files
logs/*
npm-debug.log*

# Editor directory and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Environment files
.env
.env.*
!.env.example
